// style.scss

$font-size: 16px;
$color: white;
$background-color1: #1976d2; //blue 700
$background-color2: #263238; //bluegray800
$animation-time: 3000ms;


//////////////////////////////////////////////////////////////////////////////////////////// basics
body {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  color: black;
}

p {
  font-family: Century Gothic, sans-serif;
  opacity: 0.3;
  margin-top: 50px;
}

h3 {
  opacity: 0.3;  
}

a {
  color: black;
  opacity: 0.3;
  margin-right: 50px;
  font-size: 20px;
  &:hover, &:focus, &:active {
    text-decoration: none;
    bottom: 3.2vh;
    color: dodgerblue;
    opacity: 1;
  }
  
}

//////////////////////////////////////////////////////////////////////////////sections and content

.section {
  height: 100vh;
  width: 100vw;
  
}

#home {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  .header {
    display: block;
    width: 50vw;
    position: absolute;
    left: 5vw;
    top: 15vh;
    animation: rise 500ms ease-in-out;
    h1, h3 {
      display: block;
      margin: auto;
    }
  }
}

#navigation { //home
  position: fixed;
  bottom: 3vh;
  right: 5vw;
  width: auto;
  z-index: 1;
  animation: fadein 1s ease-out;
  
 
}

///////////////////////////////////////////// SECTION: PROJECTS
#projects {
  position: relative;
  h2 {
    position: absolute;
    top: 5vh;
    left: 5vw;
  }

  ul {
    height: 45vh;
    display: block;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 35vh;
    text-align: center;
      li {
      background-color: #f2f2f2;
      height: 45vh;
      border-radius: 5px;
      width: 25vw;
      display: inline-block;
      &:first-child{
        margin-right: 2.5vw;
        background-image: url(/img/project1.png);
      }
      &:nth-child(2) {
        background-image: url(/img/project2.png);
      }
      &:nth-child(3) {
        margin-left: 2.5vw;
        background-image: url(/img/project3.png);
        background-position: center;
      }
      &:hover {
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          transform: translateY(-5px);
          -webkit-transition: all 200ms ease-out;
          -moz-transition: all 200ms ease-out;
          -ms-transition: all 200ms ease-out;
          -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

///////////////////////////////////////////// SECTION: ABOUT ME

#aboutme { 
  height: 100vh;
  width: 100vw;
  color: black;
  position: relative;
  padding: 5vw;
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

//////////////////////////////////////---  ANIMATION  --//////////////////////////////////////////////////////////////
@keyframes rise {
   0% {
      opacity: 0; 
        -moz-transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
  }   
  100% {
      opacity: 1; 
        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
  }
}

@keyframes fadein { 
  0% {opacity: 0;}
  50% {opacity: 0;}
  51% {opacity: 0.1;}
  100% {opacity: 1;}
}


///////////////////////////////////////////////////////////////////////////////////MOBILE MEDIA QUERIES
/// So, yeah, this is for making it look nice on your phone.

@media only screen
and (min-width : 30px)
and (max-width : 625px) {
  a {
    margin-right: 16px;
  }
  #navigation {
    background-color: black;
    color: white;
    position: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 5vh;
    h5 {
      margin: 0px;
    }
    ul {
      margin-right: 0px;
    }
  }
}
