* {
  padding: 0px;
  margin: 0px;
   }

body {
  overflow-x: hidden;
}

h1, h2, h3, h5, h4, h6, a {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  color: black; }

h4 {
  font-weight: 100;
}

p {
  font-family: Century Gothic, sans-serif;
  opacity: 0.3;
  margin-top: 50px;
  max-width: 400px; }

h3 {
  opacity: 0.3; }

a {
  color: black;
  margin-right: 50px;
  font-size: 20px;
  opacity: 1;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    bottom: 3.2vh;
    color: dodgerblue; }

.section {
  height: 100vh;
   }

#home {
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }
  #home .header {
    display: block;
    width: 60vw;
    position: absolute;
    left: 5vw;
    top: 15vh;
    animation: rise 500ms ease-in-out; }
    #home .header h1, #home .header h3 {
      display: block;
      margin: auto; }
    #home .header a, #home .header h5 {
      color: black;
      text-decoration: none; }
      #home .header a:hover, #home .header a:active, #home .header h5:hover, #home .header h5:active {
        color: dodgerblue; }

#navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 1;
  animation: fadein 1s ease-out; 
  }
  #navigation li {
    display: inline;

  }

    #navigation a:hover, #navigation a:active, #navigation h5:hover, #navigation h5:active {
      color: dodgerblue; }


#projects {
  position: relative; 
  }
  #projects h2 {
    position: absolute;
    top: 5vh;
    left: 5vw; }
  #projects ul {
    padding: 0;
    height: 45vh;
    display: block;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 35vh;
    text-align: center; }
    #projects ul li {
      background-color: #f2f2f2;
      height: 45vh;
      border-radius: 5px;
      width: 25vw;
      display: inline-block;
      transition: all 200ms; }
      #projects ul li:first-child {
        margin-right: 2.5vw;
        background-image: url(/img/project1.png); }
      #projects ul li:nth-child(2) {
        background-image: url(/img/project2.png); }
      #projects ul li:nth-child(3) {
        margin-left: 2.5vw;
        background-image: url(/img/project3.png);
        background-position: center; }
      #projects ul li:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(-5px);
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms; }
      #projects ul li a {
        display: block;
        height: 100%;
        width: 100%; }

#aboutme {
  height: 100vh;
  color: black;
  position: relative;
  }
  #aboutme h4 {
    font-size: 24px;
    line-height: 32px;
    width: 70%; 
    padding: 1em;}

    #aboutme h4 a {
  color: dodgerblue;
  font-size: inherit;
  text-decoration: none;
  margin-right: 0px; 
}
#aboutme h4 a:hover {opacity: 0.7;}


@keyframes rise {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@media only screen and (min-width: 30px) and (max-width: 625px) {
  a {
    margin-right: 16px; }
  #navigation {
    margin: 0;
    padding: 10px;
    background-color: black;
    bottom: 0;
    right: 0;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    }
    #navigation li {
      text-align: center;
    }
    #navigation li a {
      color: white;
      text-align: center;
      margin: 0;
      
      padding: 10px 20px;
      
    }

  #projects {
    overflow: hidden; }
    #projects ul {
      padding: 0px; } 
#aboutme h4 {
  width: 85vw;
  font-size: 18px;
  line-height: 20px;
}

    }
