* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h5, h4, h6, a {
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  color: black;
}

h4 {
  font-weight: 100;
}

p {
  font-family: Century Gothic, sans-serif;
  opacity: 0.3;
  margin-top: 50px;
  max-width: 400px;
}

h3 {
  opacity: 0.3;
}

a {
  color: black;
  margin-right: 50px;
  font-size: 20px;
  opacity: 1;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    bottom: 3.2vh;
    color: dodgerblue;
  }
}

.section {
  height: 100vh;
}

#home {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  .header {
    display: block;
    width: 60vw;
    position: absolute;
    left: 5vw;
    top: 15vh;
    animation: rise 500ms ease-in-out;
    h1, h3 {
      display: block;
      margin: auto;
    }
    a, h5 {
      color: black;
      text-decoration: none;
    }
    a {
      &:hover, &:active {
        color: dodgerblue;
      }
    }
    h5 {
      &:hover, &:active {
        color: dodgerblue;
      }
    }
  }
}

#navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 1;
  animation: fadein 1s ease-out;
  li {
    display: inline;
  }
  a {
    &:hover, &:active {
      color: dodgerblue;
    }
  }
  h5 {
    &:hover, &:active {
      color: dodgerblue;
    }
  }
}

#projects {
  position: relative;
  h2 {
    position: absolute;
    top: 5vh;
    left: 5vw;
  }
  ul {
    padding: 0;
    height: 45vh;
    display: block;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 35vh;
    text-align: center;
    
    li {
      background-color: #f2f2f2;
      height: 45vh;
      width: 25vw;
      display: inline-block;
      transition: all 200ms;
      &:first-child {
        margin-right: 2.5vw;
        background-image: url(/img/project1.png);
      }
      &:nth-child(2) {
        background-image: url(/img/project2.png);
      }
      &:nth-child(3) {
        margin-left: 2.5vw;
        background-image: url(/img/project3.png);
        background-position: center;
      }
      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transform: translateY(-5px);
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
        
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        padding-top: 40%;
        overflow: hidden;
        box-sizing: border-box;
        color: white;
        font-size: 22px;
        text-shadow: 0px 6px 20px black;

        &:hover {
          bottom: 0vh;
          color: white;

          background-color: rgba(0,0,0, 0.7);
          -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -ms-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
        
        }
      }
    }
  }

}

#aboutme {
  height: 100vh;
  color: black;
  position: relative;
  h4 {
    font-size: 24px;
    line-height: 32px;
    width: 70%;
    padding: 1em;
    a {
      color: dodgerblue;
      font-size: inherit;
      text-decoration: none;
      margin-right: 0px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}


@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}


@media only screen and (min-width: 30px) and (max-width: 625px) {
  
#home .header {
    width: 65vw;
  }

  a {
    margin-right: 16px;
  }
  #navigation {
    margin: 0;
    padding: 10px;
    background-color: black;
    bottom: 0;
    right: 0;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    li {
      text-align: center;
      a {
        color: white;
        text-align: center;
        margin: 0;
        padding: 10px 20px;
      }
    }
  }
  #projects {
    overflow: hidden;
    ul {
    padding: 0;
    height: 45vh;
    display: block;
    width: 100vw;
    margin: auto;
    position: absolute;
    top: 20vh;
    text-align: center;
    li {
      margin: 0;
      padding: 0;
      height: 25vh;
      border-radius: 0px;
      width: 100vw;
      display: block;
      transition: all 200ms;
      background-position: center;
      &:first-child {
        background-image: url(/img/project1.png);

      }
      &:nth-child(2) {
        background-image: url(/img/project2.png);
      }
      &:nth-child(3) {
        margin-left: 0px;  
        background-image: url(/img/project3.png);
        
      }
      &:hover {
        transform: none;
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        padding-top: 20%;

      }
    }
  }

  }
  #aboutme h4 {
    width: 85vw;
    font-size: 18px;
    line-height: 20px;
  }
}