/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(195, 195, 195);
    float: none;
}

#navbar {
    float: left;
    height: 4em;
    clear: none;
    width: 100%;
    background-color: rgb(70, 70, 70);
    position: fixed;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
    box-shadow: rgb(0, 0, 0) 0px 3px 3px 0px;
    top: 0px;
    left: 0%;
}

#text {
    float: left;
    font-size: 41px;
    width: 119px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.907191%;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    font-family: helvetica;
    color: rgb(255, 255, 255);
}

#text4 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0px 0%;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    padding-top: 17px;
}

#text3 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0px 0%;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    padding-top: 17px;
}

#text2 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.15640185%;
    margin-top: 0px;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    margin-right: 0%;
    padding-top: 17px;
}

#text1 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25%;
    margin-top: 0px;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    margin-right: 0%;
    padding-top: 17px;
    padding-left: 5px;
    overflow: hidden;
    font-style: normal;
}

#text1:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(208, 208, 208);
}

#text2:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(208, 208, 208);
}

#text3:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(208, 208, 208);
}

#text4:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(208, 208, 208);
}

#box {
    float: none;
    height: 459px;
    margin: 114px auto 0px;
    clear: none;
    width: 90%;
    background-color: rgb(70, 70, 70);
}

#box1 {
    float: left;
    height: 230px;
    margin-left: 4.999006%;
    margin-top: 30px;
    clear: both;
    width: 27%;
    background-color: rgb(135, 132, 132);
}

#box2 {
    float: left;
    height: 230px;
    margin-left: 4.5%;
    margin-top: 30px;
    clear: none;
    width: 27%;
    margin-right: 4.5%;
    background-color: rgb(135, 132, 132);
    padding-right: 0%;
    padding-left: 0%;
}

#text5 {
    float: left;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 5%;
    margin-top: 83px;
    clear: none;
    min-height: 0px;
}

#box1:hover {
    -webkit-box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
}

#box2:hover {
    -webkit-box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
}

#box3:hover {
    -webkit-box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
}

#box3 {
    float: left;
    height: 230px;
    margin-left: 0%;
    margin-top: 30px;
    clear: none;
    width: 27%;
    margin-right: 0%;
    background-color: rgb(135, 132, 132);
}

#text6 {
    float: left;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 5.000663%;
    margin-top: 70px;
    clear: both;
    min-height: 0px;
    margin-right: 0%;
}

#text7 {
    float: none;
    font-size: 4em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    clear: none;
    min-height: 0px;
    margin-top: 603px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 904px) {
    #text1 {
        display: none;
    }

    #text2 {
        display: none;
    }

    #text3 {
        display: none;
    }

    #text4 {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    #text4 {
        font-size: 32px;
        display: none;
    }

    #text2 {
        font-size: 32px;
        display: none;
    }

    #text3 {
        font-size: 32px;
        display: none;
    }

    #text1 {
        font-size: 32px;
        display: none;
    }

    #navbar {
        top: 0px;
        left: 0%;
    }
}

