/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    float: none;
}

#navbar {
    float: left;
    height: 4em;
    clear: none;
    width: 100%;
    background-color: rgb(41, 128, 185);
    position: fixed;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: rgb(109, 91, 91) 0px 2px 3px 0px;
    box-shadow: rgb(109, 91, 91) 0px 2px 3px 0px;
    top: 0px;
    left: 0%;
    bottom: auto;
}

#text {
    float: left;
    font-size: 41px;
    width: 119px;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.907191%;
    margin-top: 10px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    font-family: helvetica;
    color: rgb(255, 255, 255);
}

#text4 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0px 0%;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    padding-top: 17px;
}

#text3 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin: 0px 0%;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    padding-top: 17px;
}

#text2 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.15640185%;
    margin-top: 0px;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    margin-right: 0%;
    padding-top: 17px;
}

#text1 {
    float: left;
    font-size: 28px;
    width: 14.999393%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 25%;
    margin-top: 0px;
    clear: none;
    min-height: 64px;
    min-width: 15%;
    font-family: helvetica;
    color: rgb(255, 255, 255);
    margin-right: 0%;
    padding-top: 17px;
    padding-left: 5px;
    overflow: hidden;
    font-style: normal;
}

#text1:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(152, 203, 237);
}

#text2:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(152, 203, 237);
}

#text3:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(152, 203, 237);
}

#text4:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(152, 203, 237);
}

#aboutme {
    float: none;
    height: 459px;
    margin: 0px auto;
    clear: none;
    width: 100%;
    background-color: rgb(177, 171, 171);
    background-image:url("img/city%20blur.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#port1 {
    float: left;
    height: 230px;
    margin-left: 4.998785%;
    margin-top: 30px;
    clear: both;
    width: 27%;
    background-color: rgb(135, 132, 132);
    background-image:url("img/Doodle%20UI.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#port2 {
    float: left;
    height: 230px;
    margin-left: 4.5%;
    margin-top: 30px;
    clear: none;
    width: 27%;
    margin-right: 4.5%;
    background-color: rgb(135, 132, 132);
    padding-right: 0%;
    padding-left: 0%;
    background-image:url("img/Export%20Regular.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text6 {
    float: left;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 5%;
    margin-top: 83px;
    clear: none;
    min-height: 0px;
}

#port1:hover {
    -webkit-box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    border: 1px solid rgb(44, 0, 255);
}

#port2:hover {
    -webkit-box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    border: 1px solid rgb(44, 0, 255);
}

#port3:hover {
    -webkit-box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    box-shadow: rgb(70, 70, 70) 0px 3px 14px 0px;
    border: 1px solid rgb(44, 0, 255);
}

#port3 {
    float: left;
    height: 230px;
    margin-left: 0%;
    margin-top: 30px;
    clear: none;
    width: 27%;
    margin-right: 0%;
    background-color: rgb(135, 132, 132);
    background-image:url("img/User%20Flow.png");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text7 {
    float: left;
    font-size: 2.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0.08372142%;
    margin-top: 0px;
    clear: none;
    min-height: 0px;
    margin-right: 0%;
}

#Contact {
    float: none;
    height: 337px;
    margin-left: auto;
    margin-top: 433px;
    clear: none;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
}

#text8 {
    float: none;
    font-size: 4em;
    width: 35.345031%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: auto;
    margin-top: 131px;
    clear: none;
    min-height: 0px;
    border-width: 0px;
    border-style: solid;
    margin-right: auto;
}

#text8:hover {
    border-bottom-width: 5px;
    overflow: hidden;
}

#text5 {
    float: left;
    font-size: 1.1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.250092%;
    margin-top: 342px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
    font-family: helvetica;
    text-shadow: rgb(0, 0, 0) 0px 3px 6px;
}

#textspan {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

@media only screen and (max-width: 904px) {
    #text1 {
        display: none;
    }

    #text2 {
        display: none;
    }

    #text3 {
        display: none;
    }

    #text4 {
        display: none;
    }

    #text7 {
        margin-top: 0px;
        margin-left: auto;
        clear: none;
        margin-right: auto;
        float: none;
        display: block;
    }

    #port1 {
        margin-top: 30px;
        margin-left: 4.994381%;
        clear: both;
    }

    #navbar {
        top: 0px;
        left: 0%;
    }

    #port2 {
        margin-top: 30px;
        margin-left: 4.501642%;
        clear: none;
    }

    #port3 {
        margin-top: 30px;
        margin-left: 0.00216113%;
        clear: none;
    }

    #Contact {
        float: none;
        height: 337px;
        margin-left: auto;
        margin-top: 457px;
        clear: none;
        width: 89.998271%;
        margin-right: auto;
        max-width: none;
    }

    .primaryContainer {
        margin-left: 0%;
        margin-right: 0px;
        float: none;
        clear: none;
    }

    #aboutme {
        margin-top: 83px;
        clear: none;
    }

    #text8 {
        float: none;
        font-size: 4em;
        width: auto;
        height: auto;
        text-align: center;
        font-weight: bold;
        line-height: 1em;
        margin-left: auto;
        margin-top: 84px;
        clear: none;
        min-height: 0px;
        margin-right: auto;
    }

    #text5 {
        font-size: 1em;
    }

    #text6 {
        margin-top: 44px;
        margin-left: 4.99952%;
        clear: none;
    }
}

@media only screen and (max-width: 650px) {
    #text4 {
        font-size: 32px;
        display: none;
    }

    #text2 {
        font-size: 32px;
        display: none;
    }

    #text3 {
        font-size: 32px;
        display: none;
    }

    #text1 {
        font-size: 32px;
        display: none;
    }

    #navbar {
        top: 0px;
        left: 0%;
        bottom: auto;
    }

    #Contact {
        margin-top: 1336px;
        clear: none;
    }

    #port3 {
        margin-top: 20px;
        margin-left: 12.846154%;
        clear: both;
        margin-right: 0%;
        width: 72.485577%;
        height: 389.375px;
    }

    #port2 {
        margin-top: 20px;
        margin-right: 0%;
        margin-left: 12.846154%;
        clear: both;
        width: 72.485577%;
        height: 363.21875px;
    }

    #port1 {
        margin-top: 10px;
        margin-left: 13.144231%;
        clear: both;
        width: 72.043269%;
        height: 387px;
    }

    #text5 {
        font-size: 1em;
    }

    #text6 {
        margin-top: 83px;
        margin-left: 31.307692%;
        clear: none;
    }
}

